.center{
    text-align: center;
}

h1{
     text-align: center ;
    border: 3px solid blueviolet;

}


a:link,a:visited{
    background-color: crimson;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
}


a:hover,a:active{
    background-color:lime
}



/* body {
    background-image: url('home/images/4.jpg');
  } */