<div class="center">
    <h2>Welcome to MyPortfolio</h2>
  <div class="card mb-3" style="max-width: 1350px;">
      <div class="row g-0">
        <div class="col-4">
          <!-- <img src="images/a.jpg" class="img-fluid rounded-start"   alt="...">  -->

         
        </div>
        <div class="col-md-8">
          <div class="card-body">
            
            <h5 class="card-title">Create your portfolio</h5>
            <p class="card-text">A very simple and easy way to create your portfolio. Just take a couple of minutes to have your portfolio ready</p>
            <p class="card-text"><small class="text-muted">www.myportfolio.com</small></p>
          </div>
        </div>
      </div>
    </div>
   
  </div>